.live-match-center > .bg-image {
  width: 100%;
  height: 100%;
}
.live-match-center > ul {
  position: absolute;
  top: 15%;
  left: 12%;
  display: flex;
  gap: 40px;
}
.live-match-center > ul > .vs-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.vs-score {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.score {
  font-size: 16px;
  margin-bottom: 8px;
}
.quarter-center {
  position: absolute;
  z-index: 1;
  bottom: 17%;
  left: 35%;
  font-size: 12px;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  padding: 5px;
}
.sport-catergory-title {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
  bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px;
}
.sport-catergory-title > img {
  width: 20px;
  height: 20px;
}
