.live-match-center {
  background-color: #f9f9f9;
  width: 80%;
  position: relative;
  color: white;
  font-size: 16px;
}

.mini-score-board {
  background-color: #ffff;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 8px;
}
.live-match-right {
  border: 1px solid rgba(255, 0, 0, 0.2);
  height: 40%;
  display: flex;
  text-transform: uppercase;
  justify-content: space-around;
  position: relative;
}
.live-match-right > .live-score {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.leader-score-board-bottom {
  border: 1px solid rgba(255, 0, 0, 0.2);
  height: 60%;
}

.mini-score {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  color: var(--secondary-color);
}
.quarter {
  position: absolute;
  bottom: 0;
  background-color: var(--secondary-color);
  color: white;
  padding: 5px;
  font-size: 9px;
}
.scoreboard-vs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 10px;
  margin-top: 16px;
  font-weight: 600;
}

.live-icon {
  position: absolute;
  left: 0;
  top: -30px;
  width: 42px;
}
