.main-live-events {
  margin: 20px;
}
h3 {
  background-color: var(--secondary-color);
  width: 10%;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 5px;
  text-align: center;
  color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live-main-container {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(255, 3, 3, 0.07);
}
.live-main-container > ul {
  width: 100%;
  display: flex;
  color: var(--primary-color);
  text-transform: uppercase;
  padding: 15px;
}
.live-main-container > ul > li {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.icons {
  width: 100px;
}
.location {
  font-size: 0.7em;
  margin-top: 18px;
  font-weight: 500;
}
.e-sports {
  opacity: 70%;
  box-shadow: 4px 0px 2px rgb(3, 3, 3, 0.1);
  font-size: 0.9em;
}
.univ {
  font-weight: 800;
}
.score {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4em;
  font-weight: 700;
}
.score-text {
  font-size: 14px;
}
.qrtr {
  font-weight: 600;
  font-size: 0.7em;
  background-color: var(--secondary-color);
  color: white;
  padding: 6px;
}
